/* Globals */
/*
Available Fonts
font-family: 'Roboto', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Pacifico', cursive;
font-family: 'Signika', sans-serif;
*/

/*
colors:
http://blog.visme.co/website-color-schemes/
#24
*/

body {
    font-family: 'Signika', sans-serif;
    background-color: #FEFFFF;
    color: #17252A;
}

.mt15{
    margin-top: 15px !important;
}

.mt20{
    margin-top: 20px !important;
}

.mt40{
    margin-top: 40px !important;
}

.mt60{
    margin-top: 60px !important;
}

.circlify{
    border-radius: 50%;
}

/* navbar */

.navbar-item a{
    color: #17252A;
}
.navbar-menu.is-active{
    height: 100vh;
}

/* index page */

.paddinglr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.paddinglr20  section {
    padding-left: 20px;
    padding-right: 20px;
}

.hero{
    margin-top: 5px;
    text-align: center;
}

.hero-image {
    margin: 0 auto;
    text-align: center;
    width: 140px;
}

.hero h2{
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
}

.hero p{
    font-weight: 300;
    font-size: 0.9em;
}

.hero span{
    font-size: 0.9em;
    text-decoration: underline;
    text-decoration-color: #3AAFA9;
    font-weight: 300;
}

section h1{
    text-align: center;
    color: rgba(23, 37, 42, 0.8);
    font-weight: 300;
    font-size: 1.1em;
}

@media only screen and (min-width: 420px) {
    .hero-image {
        width: 145px;
    }

    .hero h2{
        font-size: 1.3em;
    }

    .hero p{
        font-size: 1.2em;
    }

    .hero span{
        font-size: 1.1em;
    }
}



/*
Home Page: Post listing
*/

.post-items .year{
    font-family: 'Roboto', sans-serif;
}

.post-items .item .heading span a{
    font-family: 'Signika', sans-serif;
    color: #3AAFA9;
    font-size: 1.3em;
}

.empty-footer{
    height: 30px;
}


@media only screen and (min-width: 769px) {
    .hero-image {
        width: 165px;
    }

    .hero h2{
        font-size: 1.3em;
    }

    .hero p{
        font-size: 1.2em;
    }

    .hero span{
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1023px) {
    .hero-image {
        width: 178px;
    }

    .hero h2{
        font-size: 1.75em;
    }

    .hero p{
        font-size: 1.65em;
    }

    .hero span{
        font-size: 1.4em;
    }

    .post-items .year{
        font-size: 1.6em;
    }

    .post-items .item .heading span a{
        font-size: 1.8em;
    }

}

@media only screen and (min-width: 1215px) {
    .hero-image {
        width: 178px;
    }

    .hero h2{
        font-size: 1.95em;
    }

    .hero p{
        font-size: 1.75em;
    }

    .hero span{
        font-size: 1.45em;
    }

    .post-items .year{
        font-size: 2em;
    }

    .post-items .item .heading span a{
        font-size: 2em;
    }
}

@media only screen and (min-width: 1407px) {
    .hero-image {
        width: 180px;
    }

    .hero h2{
        font-size: 1.95em;
    }

    .hero p{
        font-size: 1.75em;
    }

    .hero span{
        font-size: 1.45em;
    }

    .post-items .year{
        font-size: 2em;
    }

    .post-items .item .heading span a{
        font-size: 2.2em;
    } 
}
