<div class="paddinglr20">
    <div class="hero">
        <div class="hero-image">
            <img class="circlify" src="/images/profile.jpg" />
        </div>

        <section class="hero">
            <h2>
                Hi, I'm Savitha.
            </h2>
        </section>

        <section class="hero">
            <p>
                Computer Science graduate from RIT.
            </p>
        </section>
        <section class="hero mt15">
            <p>
                I am interested in:
            </p>
        </section>

        <section class="hero">
            <span>
                Data Science, Security
            </span>

            <span>
                and Artificial Intelligence
            </span>
        </section>
    </div>
</div>
