<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        {{partial "navbar.html" .}}

        <div class="mt120 post-content paddinglr10">
            <section>
                <div class="container is-fluid">
                    <section>
                        <div class="container is-fluid">
                            <h1 class="content-title">{{ .Title }}</h1>
                            <div class="content-description">
                                {{ .Description }}
                            </div>
                        </div>
                    </section>

                    <section class="mt40">
                        <div class="container is-fluid content">
                            {{ .Content }}
                        </div>
                    </section>
                </div>
            </section>
        </div>

        <div class="empty-footer">
        </div>
    </body>
</html>

