<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        {{ partial "navbar.html"}}

        <div class="mt60">
            <div class="container">
                <div class="hero is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                    <div class="hero-image">
                         <img class="circlify" src="/images/profile.jpg" />
                    </div>

                    <section class="hero">
                        <h2>
                            Hi, I'm Savitha.
                        </h2>
                    </section>

                    <section class="hero">
                        <p>
                            I am a computer science graduate from RIT, New York and I am also a Graduate Assistant there as well.
                        </p>
                    </section>
                    <section class="hero">
                        <p>
                            I am interested in:
                        </p>
                    </section>

                    <section class="hero">
                        <span>
                            Data Science, Security
                        </span>

                        <span>
                            and Artificial Intelligence
                        </span>
                    </section>
                </div>
            </div>
        </div>

        <div class="mt40">
            <div class="container padded-section">
                <section>
                    <h1>
                        I RECENTLY WROTE ABOUT:
                    </h1>
                </section>
            </div>
        </div>
    </body>
</html>
