<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        {{ partial "navbar.html"}}

        <div class="mt60">
            <div class="container">
                <div class="hero is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                    <div class="hero-image">
                         <img class="circlify" src="/images/profile.jpg" />
                    </div>

                    <section class="hero">
                        <h2>
                            Hi, I'm Savitha.
                        </h2>
                    </section>

                    <section class="hero">
                        <p>
                            I am a computer science graduate from RIT, New York and I am also a Graduate Assistant there as well.
                        </p>
                    </section>
                    <section class="hero mt15">
                        <p>
                            I am interested in:
                        </p>
                    </section>

                    <section class="hero">
                        <span>
                            Data Science, Security
                        </span>

                        <span>
                            and Artificial Intelligence
                        </span>
                    </section>
                </div>
            </div>
        </div>

        <div class="mt40">
            <div class="container padded-section">
                <section>
                    <h1>
                        I RECENTLY WROTE ABOUT
                    </h1>
                </section>

                <section class="post-items mt20">
                  {{ range ((where .Data.Pages "Type" "posts").GroupByDate "2006") }}
                    <div class="mt20">
                        <div class="year"> {{ .Key }} </div>
                        {{ range .Pages}}
                        <section class="item">
                            <div class="heading">
                                <span>
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </span>
                                <div class="date">{{ dateFormat "Monday, Jan 2" .Date }} </div>
                            </div>
                        </section>
                        {{ end }}
                    </div>
                  {{ end }}
                </section>
            </div>
        </div>

        <div class="empty-footer">
        </div>
    </body>
</html>

<!--
     https://stackoverflow.com/questions/29410329/create-a-slanted-edge-to-a-div
-->
