<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        {{ partial "navbar.html" .}}

        <div class="mt60 is-hidden-tablet">
            {{ partial "hero.html" .}}
        </div>

        <div class="mt40 is-hidden-tablet">
            {{ partial "posts.html" .}}
        </div>

        <div class="mt20 columns is-hidden-mobile">
            <div class="mt60 column is-half">
                <section>
                    <div class="container is-fluid">
                        {{ partial "posts.html" .}}
                    </div>
                </section>
            </div>

            <div class="mt60 column is-half">
                <section>
                    <div class="container is-fluid">
                        {{ partial "hero.html" .}}
                    </div>
                </section>
            </div>
        </div>

        <div class="empty-footer">
        </div>
    </body>
</html>

<!--
     https://stackoverflow.com/questions/29410329/create-a-slanted-edge-to-a-div
-->
